{# purpose of this template: close an iframe from within this iframe #}
<!DOCTYPE html>
<html xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}" dir="auto">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="{{ asset('jquery/jquery.min.js') }}"></script>
        <script src="{{ zasset('@PaustianRatingsModule:js/PaustianRatingsModule.InlineEditing.js') }}"></script>
    </head>
    <body>
        <script>
        /* <![CDATA[ */
            // close window from parent document
            ( function($) {
                $(document).ready(function() {
                    paustianRatingsCloseWindowFromInside('{{ idPrefix|e('js') }}', {% if commandName in ['submit', 'create', 'approve'] %}{{ itemId }}, '{{ formattedTitle|default('')|e('js') }}', '{{ searchTerm|default('')|e('js') }}'{% else %}0, '', ''{% endif %});
                });
            })(jQuery);
        /* ]]> */
        </script>
    </body>
</html>
