{# purpose of this template: rating systems list view #}
{% extends routeArea == 'admin' ? 'PaustianRatingsModule::adminBase.html.twig' : 'PaustianRatingsModule::base.html.twig' %}
{% block title own ? __('My rating systems') : __('Rating systems list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
    <div class="paustianratingsmodule-ratingsystem paustianratingsmodule-view">
        <p class="alert alert-info">{{ __('The rating system to use for the specified rating. Only one rating system can be used per interface') }}</p>
        
        {% set viewActions = knp_menu_get('paustianRatingsMenuViewActions', [], {objectType: 'ratingSystem', area: routeArea}) %}
        {{ knp_menu_render(viewActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
        
        {{ include('@PaustianRatingsModule/RatingSystem/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

        {% if routeArea == 'admin' %}
        <form action="{{ path('paustianratingsmodule_ratingsystem_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="ratingSystemsViewForm" class="form-horizontal" role="form">
            <div>
        {% endif %}
            <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
                <colgroup>
                    {% if routeArea == 'admin' %}
                        <col id="cSelect" />
                    {% endif %}
                    <col id="cItemActionsStart" />
                <col id="id" />
                    <col id="cScaleDim" />
                    <col id="cIconFa" />
                    <col id="cIconUrl" />
                </colgroup>
                <thead>
                <tr>
                    {% if routeArea == 'admin' %}
                        <th id="hSelect" scope="col" class="text-center z-w02">
                            <input type="checkbox" class="paustianratings-mass-toggle" />
                        </th>
                    {% endif %}
                <th id="hItemActionsStart" scope="col" class="z-w02">{{ __('Actions') }}</th>
                <th id="hId" scope="col" class="text-right">
                    <a href="{{ sort.id.url }}" title="{{ __f('Sort by %s', {'%s': 'id dim'}) }}" class="{{ sort.id.class }}">{{ __('id') }}</a>
                </th>
                    <th id="hScaleDim" scope="col" class="text-right">
                        <a href="{{ sort.scaleDim.url }}" title="{{ __f('Sort by %s', {'%s': 'scale dim'})|e('html_attr') }}" class="{{ sort.scaleDim.class }}">{{ __('Scale dim') }}</a>
                    </th>
                    <th id="hIconFa" scope="col" class="text-left">
                        <a href="{{ sort.iconFa.url }}" title="{{ __f('Sort by %s', {'%s': 'icon fa'})|e('html_attr') }}" class="{{ sort.iconFa.class }}">{{ __('Icon fa') }}</a>
                    </th>
                    <th id="hIconUrl" scope="col" class="text-center">
                        <a href="{{ sort.iconUrl.url }}" title="{{ __f('Sort by %s', {'%s': 'icon url'})|e('html_attr') }}" class="{{ sort.iconUrl.class }}">{{ __('Icon url') }}</a>
                    </th>
                </tr>
                </thead>
                <tbody>
            
            {% for ratingSystem in items %}
                <tr>
                    {% if routeArea == 'admin' %}
                        <td headers="hSelect" class="text-center z-w02">
                            <input type="checkbox" name="items[]" value="{{ ratingSystem.getKey() }}" class="paustianratings-toggle-checkbox" />
                        </td>
                    {% endif %}
                    <td id="itemActions{{ ratingSystem.getKey() }}Start" headers="hItemActionsStart" class="actions nowrap z-w02">
                        {% set itemActions = knp_menu_get('paustianRatingsMenuItemActions', [], {entity: ratingSystem, area: routeArea, context: 'view'}) %}
                        <div class="dropdown item-actions">
                            <a id="itemActions{{ ratingSystem.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                            {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
                        </div>
                </td>
                <td headers="hId" class="text-right">
                    {{ ratingSystem.id }}
                    </td>
                    <td headers="hScaleDim" class="text-right">
                        {{ ratingSystem.scaleDim }}
                    </td>
                    <td headers="hIconFa" class="text-left">
                        {{ ratingSystem.iconFa }}
                    </td>
                    <td headers="hIconUrl" class="text-center">
                        {% if ratingSystem.iconUrl is not empty %}
                        <a href="{{ ratingSystem.iconUrl }}" title="{{ __('Visit this page')|e('html_attr') }}"><i class="fa fa-external-link-square"></i></a>
                        {% else %}&nbsp;{% endif %}
                    </td>
                </tr>
            {% else %}
                <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                    <td class="text-left" colspan="{% if routeArea == 'admin' %}5{% else %}4{% endif %}">
                {{ __('No rating systems found.') }}
                  </td>
                </tr>
            {% endfor %}
            
                </tbody>
            </table>
            </div>
            
            {% if all != 1 and pager|default %}
                {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'paustianratingsmodule_ratingsystem_' ~ routeArea ~ 'view'}) }}
            {% endif %}
        {% if routeArea == 'admin' %}
                <fieldset>
                    <label for="paustianRatingsModuleAction" class="col-sm-3 control-label">{{ __('With selected rating systems') }}</label>
                    <div class="col-sm-6">
                        <select id="paustianRatingsModuleAction" name="action" class="form-control input-sm">
                            <option value="">{{ __('Choose action') }}</option>
                            <option value="delete" title="{{ __('Delete content permanently.')|e('html_attr') }}">{{ __('Delete') }}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" value="{{ __('Submit')|e('html_attr') }}" class="btn btn-default btn-sm" />
                    </div>
                </fieldset>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}
