{# purpose of this template: rating systems rss feed #}
<?xml version="1.0" encoding="{% set charset = pageGetVar('meta.charset') %}{% if charset == 'ISO-8859-15' %}ISO-8859-1{% else %}{{ charset }}{% endif %}" ?>
<rss version="2.0"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:admin="http://webns.net/mvcb/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:atom="http://www.w3.org/2005/Atom">
{#<rss version="0.92">#}
    <channel>
        <title>{{ __('Latest rating systems') }}</title>
        <link>{{ app.request.schemeAndHttpHost ~ app.request.basePath }}</link>
        <atom:link href="{{ app.request.schemeAndHttpHost ~ app.request.basePath ~ app.request.pathInfo }}" rel="self" type="application/rss+xml" />
        <description>{{ __('A direct feed showing the list of rating systems') }} - {{ getSystemVar('slogan') }}</description>
        <language>{{ app.request.locale }}</language>
        {# commented out as imagepath is not defined and we can't know whether this logo exists or not
        <image>
            <title>{{ getSystemVar('sitename') }}</title>
            <url>{{ app.request.schemeAndHttpHost ~ app.request.basePath }}{{ imagepath }}/logo.jpg</url>
            <link>{{ app.request.schemeAndHttpHost ~ app.request.basePath }}</link>
        </image>
        #}
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <copyright>Copyright (c) {{ 'now'|date('Y') }}, {{ app.request.schemeAndHttpHost }}</copyright>
        <webMaster>{{ getSystemVar('adminmail') }}</webMaster>
{% for ratingSystem in items %}
    <item>
        <title><![CDATA[{{ ratingSystem|paustianratingsmodule_formattedTitle }}]]></title>
        <link>{{ url('paustianratingsmodule_ratingsystem_' ~ routeArea ~ 'view') }}</link>
        <guid>{{ url('paustianratingsmodule_ratingsystem_' ~ routeArea ~ 'view') }}</guid>
        {% if ratingSystem.createdBy|default and ratingSystem.createdBy.getUid() > 0 %}
            {% set creatorAttributes = ratingSystem.createdBy.getAttributes() %}
            <author>{{ ratingSystem.createdBy.getEmail() }} ({{ creatorAttributes.get('realname')|default(creatorAttributes.get('name'))|default(ratingSystem.createdBy.getUname()) }})</author>
        {% endif %}
        <description>
            <![CDATA[
            {{ ratingSystem.iconFa|replace({'<br>': '<br />'}) }}
            ]]>
        </description>
        {% if ratingSystem.createdDate|default %}
            <pubDate>{{ ratingSystem.createdDate|date('r') }}</pubDate>
        {% endif %}
    </item>
{% endfor %}
    </channel>
</rss>
