{{ pageAddAsset('stylesheet', zasset('@PaustianRatingsModule:css/style.css')) }}
{% set counter = 1 %}
<div>
    <h3>{{ __("Rating") }}</h3>
    {% if avgData.average > 0 %}
    <div id="#stars" title="{{ __("Click on a star to add your rating.") }}">
    {% else %}
    <div id="#stars" title="{{ __("There are no ratings for this item. Be the first to rate it!") }}">
    {% endif %}
        <p>
        {% if modVars.iconFa %}
            {% if avgData.average != 0 %}
                {% for i in 1..avgData.average %}
                    <span id="rating_{{ counter }}" class="fa {{ modVars.iconFa }}"></span>
                    {% set counter = counter +1 %}
                {% endfor %}
                {% if avgData.doHalfStar and (avgData.average !=  modVars.ratingScale) %}
                    <span id="rating_{{ counter }}" class="fa {{ modVars.halfIconFa }}"></span>
                    {% set counter = counter +1 %}
                {% endif %}
            {% endif %}
            {% if avgData.emptyStars > 0 %}
                {% for j in 1..avgData.emptyStars %}
                    <span id="rating_{{ counter }}" class="fa {{ modVars.emptyIconFa }}"></span>
                    {% set counter = counter +1 %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% if avgData.average != 0 %}
                {% for i in 1..avgData.average %}
                    <img id="rating_{{ counter }}" class="rating-star" src="{{ modVars.iconUrl }}"
                         alt="{{ __("rating icon for rating the item") }}"/>
                    {% set counter = counter +1 %}
                {% endfor %}
                {% if avgData.doHalfStar and (avgData.average !=  modVars.ratingScale) %}
                    <img id="rating_{{ counter }}" class="rating-star" src="{{ modVars.halfIconUrl }}"
                         alt="{{ __("rating icon for rating the item") }}"/>
                    {% set counter = counter +1 %}
                {% endif %}
            {% endif %}
            {% if avgData.emptyStars > 0 %}
                {% for i in 1..avgData.emptyStars %}
                    <img id="rating_{{ counter }}" class="rating-star" src="{{ modVars.emptyIconUrl }}"
                         alt="{{ __("rating icon for rating the item") }}"/>
                    {% set counter = counter +1 %}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if avgData.average > 0 %}
            <span id="averageNumber"
                  class="avg-font"> ({{ avgData.average | round(1) }} {{ __("of") }} {{ modVars.ratingScale }}) </span>
        {% else %}
            <span id="averageNumber" class="avg-font"></span>
        {% endif %}
        <span id="maxSize" class="hidden-style">{{ modVars.ratingScale }}</span>
        <span id="module" class="hidden-style">{{ module }}</span>
        <span id="moduleItem" class="hidden-style">{{ moduleItem }}</span>
        <span id="user" class="hidden-style">{{ user }}</span>
        </p>
    </div>
</div>
    {% block footer %}
    {{ pageAddAsset('javascript', zasset('@PaustianRatingsModule:js/PaustianRatingsModule.Ratings.js'), 99) }}
{% endblock %}