{# purpose of this template: ratings display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'PaustianRatingsModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ rating|paustianratingsmodule_formattedTitle|default(__('Rating')) }}{% endblock %}
{% block title %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    {% set templateTitle = rating|paustianratingsmodule_formattedTitle|default(__('Rating')) %}
    {{ templateTitle }}
    {% if not isQuickView %}
        {% set itemActions = knp_menu_get('paustianRatingsMenuItemActions', [], {entity: rating, area: routeArea, context: 'display'}) %}
        <div class="dropdown item-actions">
            <a id="itemActions{{ rating.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
            {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
        </div>
    {% endif %}
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="paustianratingsmodule-rating paustianratingsmodule-display">
        <dl>
            {% if rating.moduleName is not empty %}
                <dt>{{ __('Module name') }}</dt>
                <dd>{{ rating.moduleName }}</dd>
            {% endif %}
            {% if rating.objectId is not empty %}
                <dt>{{ __('Object id') }}</dt>
                <dd>{{ rating.objectId }}</dd>
            {% endif %}
            {% if rating.rating is not empty %}
                <dt>{{ __('Rating') }}</dt>
                <dd>{{ rating.rating }}</dd>
            {% endif %}
            {% if rating.userId is not empty %}
                <dt>{{ __('User id') }}</dt>
                <dd>{% if not isQuickView %}
                    {{ rating.userId.uid|profileLinkByUserId }}{% if currentUser.loggedIn %}{% set sendMessageUrl = rating.userId.uid|messageSendLink(urlOnly=true) %}{% if sendMessageUrl != '#' %}{% set linkTitle = __f('Send private message to %userName%', {'%userName%': rating.userId.uname}) %}<a href="{{ sendMessageUrl }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-envelope-o"></i></a>{% endif %}{% endif %}
                    <span class="avatar">{{ userAvatar(rating.userId.uid, {rating: 'g'}) }}</span>
                {% else %}
                    {{ rating.userId.uname }}
                {% endif %}
                </dd>
            {% endif %}
            
        </dl>
        <h3 class="hook-assignments">{{ __('Hook assignments') }}</h3>
            {% if hookAssignments|length > 0 %}
                <p>{{ __('This rating is assigned to the following data objects:') }}</p>
                <ul>
                {% for assignment in hookAssignments %}
                    <li><a href="{{ assignment.url|e('html_attr') }}" title="{{ __('View this object')|e('html_attr') }}">{{ assignment.date|localizeddate('medium', 'short') }} - {{ assignment.text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{{ __('This rating is not assigned to any data objects yet.') }}</p>
            {% endif %}
        {{ include('@PaustianRatingsModule/Helper/includeStandardFieldsDisplay.html.twig', {obj: rating}) }}
    </div>
{% endblock %}
