{# purpose of this template: inclusion template for display of related ratings or hook assignments #}
{% set hasAdminPermission = permissionHelper.hasComponentPermission('rating', constant('ACCESS_EDIT')) %}
{% set hasEditPermission = permissionHelper.hasComponentPermission('rating', constant('ACCESS_EDIT')) %}
{% if noLink is not defined %}
    {% set noLink = false %}
{% endif %}
<h4>
{% spaceless %}
{% if not noLink %}
    <a href="{{ path('paustianratingsmodule_rating_' ~ routeArea ~ 'display', {'id': item.getId()}) }}" title="{{ item|paustianratingsmodule_formattedTitle|e('html_attr') }}">
{% endif %}
    {{ item|paustianratingsmodule_formattedTitle }}
{% if not noLink %}
    </a>
    <a id="ratingItem{{ item.getKey() }}Display" href="{{ path('paustianratingsmodule_rating_' ~ routeArea ~ 'display', {'id': item.getId(), raw: 1}) }}" title="{{ __('Open quick view window') }}" class="paustianratings-inline-window hidden" data-modal-title="{{ item|paustianratingsmodule_formattedTitle|e('html_attr') }}"><i class="fa fa-id-card-o"></i></a>
{% endif %}
{% endspaceless %}
</h4>
