{# purpose of this template: close an iframe from within this iframe #}
<!DOCTYPE html>
<html xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}" dir="auto">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div id="inlineRedirectParameters" data-idprefix="{{ idPrefix|e('html_attr') }}" {% if commandName in ['submit', 'create', 'approve'] %}data-itemid="{{ itemId }}" data-title="{{ formattedTitle|default('')|e('html_attr') }}" data-searchterm="{{ searchTerm|default('')|e('html_attr') }}"{% else %}data-itemid="0" data-title="" data-searchterm=""{% endif %}></div>
        <script src="{{ asset('jquery/jquery.min.js') }}"></script>
        <script src="{{ zasset('@PaustianRatingsModule:js/PaustianRatingsModule.InlineEditing.js') }}"></script>
    </body>
</html>
